*,
*::before,
*::after{
    padding: 0;
    margin: 0;
}
*{
    box-sizing: border-box;
}
.pen{
    display: flex;
    width: 100%;
    min-height:100vh;
    overflow: hidden;
}
.pane-top{
    background: #1d1e22;
    width: 30%;
    position: fixed;
    height: 100%;
    right: 0;
    padding-top: 5px;
}
.pane-down{
    width: 70%;
}

